USE [Abonents_ATC]
GO
/****** Object:  Table [dbo].[Абоненты]    Script Date: 12.04.2023 11:11:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Абоненты](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NOT NULL,
	[Год_установки] [datetime] NULL,
	[Номер_телефона] [nvarchar](11) NOT NULL,
	[Тип_установки_телефона] [nvarchar](50) NULL,
	[Льгота] [int] NOT NULL,
 CONSTRAINT [PK_Абоненты] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Абоненты] ON 

INSERT [dbo].[Абоненты] ([Id], [Фамилия], [Имя], [Отчество], [Год_установки], [Номер_телефона], [Тип_установки_телефона], [Льгота]) VALUES (1, N'Григорьева', N'Дарья     ', N'Александро', CAST(N'2003-12-09T00:00:00.000' AS DateTime), N'79156575242', N'Спаренный ', 3034)
INSERT [dbo].[Абоненты] ([Id], [Фамилия], [Имя], [Отчество], [Год_установки], [Номер_телефона], [Тип_установки_телефона], [Льгота]) VALUES (2, N'Баженова  ', N'Таисия    ', N'Дмитриевна', CAST(N'2004-08-13T00:00:00.000' AS DateTime), N'79152370880', N'Неспаренный', 6807)
INSERT [dbo].[Абоненты] ([Id], [Фамилия], [Имя], [Отчество], [Год_установки], [Номер_телефона], [Тип_установки_телефона], [Льгота]) VALUES (3, N'Овсянников', N'Анна      ', N'Фёдоровна ', CAST(N'2005-03-09T00:00:00.000' AS DateTime), N'79152573783', N'Спаренный ', 5031)
SET IDENTITY_INSERT [dbo].[Абоненты] OFF
GO
USE [master]
GO
